body {
    margin: 0px;
    background: rgb(2,12,5);
    background: linear-gradient(0deg, rgba(2,12,5,1) 21%, rgba(12,75,26,1) 95%);

}

p {
    font-size: 2rem;
    color: white;
}

a {

    color: white;

}

#item1 {
    margin: 10%;
}
#item2 {
    margin: 10%;
}
#item3 {
    margin: 10%;
}
#item4 {
    margin: 10%;
}
#item5 {
    margin: 10%;
}

#Creator {
    width: 30%;
    margin-left: 33%;
    margin-top:2%;
}








header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}




#mainFrame {
    position: relative; 
    grid-area: st;
    background-color: green;
    height: 200px;
    margin: 10%;
    width: auto;
    color: white;

    
}

#Nocco1 {
    width: 20%;
    height: 80%;
    position: absolute;
    right: 5%; 
    top: 50%; 
    transform: translateY(-50%); 
    background-size: cover;
    color: white;
}

.promo-text {
    position: absolute;
    left: 20px; 
    top: 40%; 
    transform: translateY(-50%); 
    font-size: 1.7rem; 
    color: white;
    width: 33%; 
    text-align: center; 
    font-weight: bold;
}


.section_text { 
    margin-bottom: -10px;
    transform: translateY(-50%); 
    font-size: 1rem; 
    color: white;
    width: 80%; 
    text-align: center; 
    font-weight: bold;

}



#section1 {
    grid-area: st1;
    margin: 20%;
    height: 30%;
    width: auto;

}
#Nocco_news {
    width: 170px;
    transform: translateX(5%);

}


#section2 {
    grid-area: st2;
    height: 200px;
    margin: 20%;
    width: auto;
}

#New_nocco {
    width: 200px;
    

    
}

#section3 {
    grid-area: st3;
    height: 200px;
    margin: 20%;
    width: auto; 
}

#Monster_news {
    width: 200px;
}


#section4 {
    grid-area: st4;
    height: 200px;
    margin: 20%;
    width: auto; 
}

#New_monster {
    width: 200px;
}


#section5 {
    grid-area: st5;
    height: 200px;
    margin: 20%;
    width: auto;

    
}
#Celcius_news {
    width: 180px;
    transform: translateX(7%);
    
}

#section6 {
    grid-area: st6;
    width: auto;
    margin: 20%;
}
#New_celcius {
    width: 50px;
    transform: translateX(160%);

}


#wrapper2 {
    display: grid;
    grid-template-areas: 
    'hd hd'



}
#About_us_heading {
    text-align: center;
    color: white;
}


#About_us_section {
    background-color: green;
    margin: 20px;
    width: auto;

}


.Text {
    margin: 20px;
    font-size: 25px; 
    color: white;

}

/* Nocco page */

#mainPicSection {
    position: relative; 
    grid-area: st;
    height: 300px;


}

#mainPic {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    background-size: cover;
    height: 300px;
    width: auto;
}

#section1_0 {
    grid-area: st1;
    margin: 60px;
    margin-left: 120px;
    height: 200px;
    width: auto;
}

#section2_0 {
    grid-area: st2;
    height: 200px;
    margin: 60px;
    margin-left: 0px;
    width: auto;
}

#Cheapest_country {
    position: absolute;
    top: 750px;
    left: 80px;
}

#Cheapest_nearest {
    position: absolute;
    top: 750px;
    left: 80px;

}


h1 {
    font-size:25px;

}

#country {
    text-align: center;
    font-size: 40px;
    


}
#nearest {
    position: absolute;
    left: 425px; 
    top: 0px;
    text-align: center;
    font-size: 40px;
    

}

.list {
    margin-bottom:30px;
}

#list1 {
    position: absolute;
    left: 30px;
    font-size: 30px;
    color: white;
    margin: 20px;
    
}
#list2 {
    position: absolute;
    left: 390px;
    top: 200px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: white;
    
}

@media (max-width: 800px) {

    #wrapper {
        display: grid;
        grid-template-areas: 
        'hd hd'
        'st st'
        'st1 st2'
        'st3 st4'
        'st5 st6';


    }



    .menu{
        height: 100%;
        width: 40vw;
        background: black;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;

    }

    .menu-button{
        cursor: pointer;
        display: inline;
    }

    .menu-button i.material-icons{
        font-size: 2.5rem;
    }

    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible{
        display: block;
    }

    .Text {
        margin: 20px;
        font-size: 11px; 
    
    }


}


@media (min-width: 800px) {

    #wrapper {
        display: grid;
        grid-template-areas: 
        'hd hd hd'
        'st st st'
        'st1 st2 st3'
        'st4 st5 st6';
        margin-right: 60px;
    
    }


    .menu-button i.material-icons{
        display: none;

       
    }
    .menu {
        background-color: black;
        z-index: 20;
        width: 150px;
    }


    p {
        font-size: 2rem;
        color: white;

   
    
        

    }

    #mainFrame {
        grid-area: st;
        height: 400px;

    }
    #Nocco1 {
        width: 33%;
        height: 66%;
        position: absolute;
        top: 50%; 
        transform: translateY(-50%); 
        color: white;
    }
    
    .promo-text {
        position: absolute;
        left: 110px; 
        top: 50%; 
        transform: translateY(-50%); 
        font-size: 2.2rem; 
        color: white;
        width: 200px; 
        text-align: center; 
        font-weight: bold;
    }

    #section1 {
        grid-area: st1;
        width: 250px;
    }

    #section2 {
        grid-area: st2;
        width: 250px;
    }

    #section3 {
        grid-area: st3;
        width: 250px;
    
        

    }

    #section4 {
        grid-area: st4;
        width: 250px;
    }
    #section5 {
        grid-area: st5;
        width: 250px;
 
        
    }
    #section6 {
        grid-area: st6;
        width: 250px;
        
    }



    #heading {
        margin-right: 200px;
        color: white;
    }

    #Cheapest_country {
        position: absolute;
        top: 750px;
        left: 800px;
        color: white;
    }
    
    #Cheapest_nearest {
        position: absolute;
        top: 700px;
        left: -100px;
        color: white;


    
    }
    
    h1 {
        font-size:25px;
    
    }
    
    #country {
        font-size: 40px;
        color: white;
        
    
    
    }
    #nearest {
        font-size: 40px;
        color: white;
        
    
    }
    
    .list {
        margin-bottom:10px;
    }
    
    #list1 {
        position: absolute;
        left: 30px;
        font-size: 30px;
        color: white;
        margin: 20px;
        
    }
    #list2 {
        position: absolute;
        left: 390px;
        top: 200px;
        font-size: 30px;
        text-align: center;
        margin: 10px;
        color: white;
        
    }

    #Creator {
        width: 30%;
        margin-left: 10%;
    }


   
    
  
    



}










 

